<h1>Articles</h1>


<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>


<ul>
  <% @articles.each do |article| %>
    <li>

<div class="jumbotron  border border-dark rounded bg-light">

  <button type="button" class="btn btn-light"><%= link_to article.title, article %></button>
  <br>
  <h1 class="display-4 text-center"><%= link_to article.title, article %></h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class=" btn btn-link" href="/articles/<%= article.id%>" type="button">read more</a>
</div>


 </li>
  <% end %>
</ul>